:root{
    --color: #FFF085;
    --seccolor:#FCB454;
    --textcolor: #f54e0c;
    --textcolor2: #ca0e0e;
    --tercolor: #FF9B17; 
    --miscolor: #F16767;
}
* {
    margin: 0;
    padding: 0;
}

.header{
    position: relative;
    margin: 0;
    box-shadow: 0 0 10px #FFF085;
    background-color: var(--color);
    border: 2px solid var(--color);
}
.header h1{
    font-family: 'Kalam', cursive, sans-serif;
    font-size: 4.5rem;
    text-align: left;
    font-weight: 700;
    font-style: normal;
    padding: 20px;
    color: var(--textcolor);
    text-shadow: 0 0 10px #f54e0c9c, 0 0 20px #f54e0c9c, 0 0 #f54e0c9c;
    display: inline;
}

.header h1:hover{
    color: var(--textcolor2);
    text-shadow: 0 0 10px #ca0e0e9c, 0 0 20px #ca0e0e9c, 0 0 #ca0e0e9c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.header h3{
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    text-align:left;
    padding: 0px 20px 0px 20px;
    color: var(--textcolor2);
    position: inherit;
    bottom: 17px;
}
.nav{
    position: absolute;
    right:20px;
    top:50px;
    

}
.nav button{
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    background-color: var(--seccolor);
    color: var(--textcolor2);
    padding: 0px 20px 0px 20px;
    border: 2px solid var(--seccolor);
    border-radius: 5px;
    cursor: pointer;
}
.nav button:hover{
    background-color: var(--textcolor2);
    color: var(--seccolor);
    border: 2px solid var(--textcolor2);
    transition: all 0.3s ease-in-out;
}
.firstsection{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: var(--seccolor);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}